third_party
.idea
cmake-build-debug
cmake-build-release
build
.vscode
.DS_Store
autom4te.cache
node_modules
.libs
configure
config.h
config.log
config.status
libtool
extension/Makefile
extension/Makefile.in
extension/config.*
extension/configure.ac
extension/configure~
extension/php_wasmtime.dep
extension/php_wasmtime.lo
extension/Makefile*
extension/modules
extension/wasmtime.la
!extension/config.m4
